@charset "utf-8";

@font-face {
    font-family: "notoSansBold";
    src: url("../fonts/NotoSansKR-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    background-color: rgb(241, 241, 241);
}
@mixin content_size($width, $height) {
    width: $width;
    height: $height;
}
@mixin flex($content) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $content;
}

.init {
    position: absolute;
    top: 0;
    background-color: #BD2137;
    width: 100%;
    height: 0px;
    z-index: 999;
    overflow: hidden;
    // transition: 10s;
}

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: fixed;
    z-index: 99;
    width: 100%;
    // background-color: blue;
    .header_wrap {
        @include flex(space-between);
        align-items: center;
        img {
            padding: 20px 0 0 20px;
        }
        ul {
            @include flex(flex-end);
            margin-right: 50px;
            li {
                padding: 0 20px;
                font-size: 22px;
                letter-spacing: -1px;
                a {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 1px;
                        background-color: black;
                        transition: .3s;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                    &.on::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.main {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
        .content_wrap {
        @include flex(center);
        max-width: 1200px;
        height: 800px;
        margin: 0 auto;
        color: transparent;
        position: relative;
        div {
            display: none;
        }
 
        .content_1 {
            @include content_size(500px, 660px);
            position: absolute;
            overflow: hidden;
            top: 80px;
            left: 0px;
            font-size:1000px;
            background-color: #BD2137;
            cursor: pointer;
            &:hover {
                color: whitesmoke;
                // transition: .3s;
            }
        }
        .content_2 {
            @extend .content_1;
            @include content_size(415px, 317px);
            top: 40px;
            left: 350px; 
            font-size: 500px;
            background-color: rgb(138, 138, 241);
        }
        .content_3 {
            @extend .content_2;
            top: 150px;
            left: 700px;
            background-color: #a91054;
            transform: rotate(45deg);   
        }
        .content_4 {
            @extend .content_2;
            top: 450px;
            left: 800px;
            background-color: rgb(59, 160, 76);
            transform: rotate(90deg);
        }
    }
}

.about {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    background-color: rgb(226, 226, 226);
    .content_wrap {
        position: relative;
        margin: 0 auto;
        max-width: 1500px;
        height: 490px;
        font-size: 80px;
        @include flex(center);
        align-items: center;
        .txt1 {
            position: absolute;
            top: -100px;
            left: 170px;
            @include content_size(300, 300);
        }
        .txt2 {
            position: absolute;
            bottom: -100px;
            right: 170px;
            @include content_size(300, 300);
            background: url("../images/daegu_night.jpg") center no-repeat;
            background-size: cover;
            background-clip: text;
            color: transparent;
        }
    }
}

.about_2 {
    font-family: "notoSansBold";
    width: 100%;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .content_wrap {
        // margin-top: 150px;
        max-width: 100%;
        font-size: 20px;
        @include flex(center);
        .infos {
            font-size: 18px;
            position: relative;
            margin-right: 210px;
            height: 650px;
            .txt1 {
                position: absolute;
                left: -150px;
                top: 0;
            }
            .txt2 {
                position: absolute;
                bottom: -100px;
                width: 500px;
                right: -400px;
                p:nth-child(2) {
                    margin-top: 30px;
                }
            }
        }
        .skills {
            text-align: center;
            line-height: 125px;
            margin-top: 30px;
            width: 500px;
            height: 420px;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-evenly;
            .circle {
                width: 125px;
                height: 125px;
                border-radius: 50%;
                // background-color: #444;
                margin: 0 20px;
                &:nth-child(1) {
                    background: url("../images/html5.png") center no-repeat;
                    background-size: 50%;
                }
                &:nth-child(2) {
                    background: url("../images/css3.png") center no-repeat;
                    background-size: 50%;
                }
                &:nth-child(3) {
                    background: url("../images/js.png") center no-repeat;
                    background-size: 50%;
                }
                &:nth-child(4) {
                    background: url("../images/ps.png") center no-repeat;
                    background-size: 50%;
                }
                &:nth-child(5) {
                    background: url("../images/ai.png") center no-repeat;
                    background-size: 50%;
                }
                &:nth-child(6) {
                    background: url("../images/git.png") center no-repeat;
                    background-size: 50%;
                }
            }
        }
    }
}

.contact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    background-color: gray;
    .content_wrap {
        width: 100%;
        @include flex(center);
        .contacts {
            flex-basis: 60%;
            @include flex(space-between);
            font-size: 48px;
            p {
                padding-left: 40px;
            }
        }
    }
    .sns {
        width: 100%;
        @include flex(flex-end);
        position: absolute;
        bottom: 30px;
        a {
            padding: 0 30px;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}
